header{
    height: 100px;
}
footer{
   
}
.header-image{
    position: relative;
    height:100px;
    width:100%;
    object-fit: cover;
}
.kijani-logo{
    height:60px;
    width: 60px;
}
.footer-items{
    display: flex;
    justify-content: space-evenly;
}